.account-info {
    margin: 50px auto;
    padding: 10px 0px;
    width: 50%; 
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
}
td {
    padding: 0 5px;
}

.account-order-item {
    text-align: left;
    border: 2px solid;
}

.option-group {
    min-width: 150px;
    display: flex;
}

.option-items {
    min-width: 75px;
}

.option-name {
    min-width: 75px;
    border-radius: 5px;
}

.BG {
    background-color: #f0f2e6;
    min-width: 150px;
}

.altBG {
    background-color: green;
    min-width: 150px;
}

.account-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 350px;
    overflow: hidden;
    text-align: left;
}

.order-list {
    margin: 0 auto;
}
