.account-info {
    margin: 50px auto;
    padding: 10px 0px;
    width: 50%;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
}
td {
    padding: 0 5px;
}

.account-order-item {
    text-align: left;
    border: 2px solid;
}
.account-item {
    margin-left: 15px;
}

.order-list {
    margin: 0 auto;
}