.cart-wrapper {
    border: 2px black solid;
    border-radius: 5px;
    min-height: 400px;
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 50px;
    background-color: #efe3ed;
    width: 300px
}

.cart-body {
    margin: 0 auto;
    position: relative;
    top: 25%;
    border-radius: 5px;
    justify-content: space-between;
    margin: 5px;
}

.cart-title {
    margin: 0 auto;
    justify-content:center;
    padding: 5px;
}

.cart-list {
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
}

.cart-item-wrapper {
    border: 1px solid;
    border-radius: 5px;
    margin: 5px auto;
    max-width: 500px;
}

.cart-item {
    text-align: left;
    padding: 0px 5px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}