.cart-body {
    border: 2px black solid;
    border-radius: 5px;
    width: 250px;
    min-height: 400px;
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 50px;
    background-color: white;
}