.menu-wrapper {
    opacity: 10%;
}

.menu {
    width: 500px;
    text-align:center;
    margin: 0 auto;
    padding-top: 50px;
}

.menu-item {
    list-style-type: none;
    text-align: left;
    padding: 5px;
    margin: 5px;
    display: flex;
    width: 100%
}

.menu-button {
    text-align: left;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: right;
}

.menu-center {
    margin: 0 auto;
    position: relative;
    top: 25%;
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    justify-content: space-between;
    margin: 5px;
}

.menu-list {
    padding: 0px;
}

.accordion-header button {
    font-weight: 600;
}