.navigate-link {
    margin: 5px;
    padding: 2px;
    text-decoration: none;
    font-size: larger;
    color: black;
    border-radius: 3px;
    flex: 1 500px;
}

.navigate-active {
    color: #0d6efd;
    font-weight: 700
}

.navigate-center {
    margin: 0 auto;
    position: relative;
    top: 25%;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.navigate-link-container {
    display: flex;
}

.navigate-cart-container {
    display: flex;
    text-align: right;
}