.main {
    text-align: center;
}

.padding {
    padding: 50px 0px;
}

.coupon-container {
    padding: 20px;
}

.coupon {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    border: 3px solid;
    border-radius: 10px;
    text-align:center;
    padding: 10px;
    margin: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    margin: auto;
}